@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
.chatapp{
    display: flex;
    height: auto;
    width: 88%;
    margin: 10px auto;
    font-family: 'Helvetica Neue', sans-serif;
}
.appheading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 14px;
}

.appheading > *{
    font-size: 25px;
}
.appname {
    margin: 21px 0px;
    font-weight: 500;
}
.addcontact{
    margin: 0px 14px;
}
.contactshome{
    width: 30%;
    background-color: #026142;
    border-radius: 10px 0px 0px 10px;
}
.contactshome>*{
    color: white;
}
.searchbox{
    height: 30px;
    width: 80%;
    padding: 2px 25px;
    position: relative;
    border: none;
}
.searchbox::placeholder{
    font-size: 12px;
}
.searchicon{
    font-size: 18px;
    position: absolute;
    color: #918989;
    margin: 7px 0px 0px -370px;
}
.multipleiconsdiv{
    display: flex;
    justify-content: space-around;
    gap: 17px;
    margin: 20px 0px;
}
.multipleiconsdiv>*{
    font-size: 25px;
}


.chatContentdiv{
    width: 40%;
    border: 1px solid #e6e6e6;
    /* position: relative; */
}
.inputmsgdiv{
    display: flex;
    align-items: center;
    position: relative;
    /* position: absolute;
    bottom: 0; */
}
.inputtag{
    width: 100%;
    height: 51px;
    border: none;
    border-bottom: 1px solid grey;
    padding: 0px 64px 0px 10px;
}
.messagesdiv{
    overflow-y:scroll;
    height: 620px;
    box-shadow: inset 0 0 10px #e5e2e2;
    background-color: #f7f7f7;
}
.inputmsgdiv button{
    border: none;
    padding: 10px;
    border-radius: 50%;
    height: 40px;
    background-color: white;
    right: 10px;
    position: absolute;
}
.sendicon{
    font-size: 20px;
    color: #026142;
}

.profilediv{
    width: 20%;
    border-radius: 0px 10px 10px 0px;
    /* box-shadow: inset 0 0 4px #ebe4e4; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.prof{
    display: flex;
    gap: 20px;
    padding: 10px 14px;
    align-items: center;
}
.recentcontacts img{
    border-radius: 50%;
    width: 47px;
    height: 47px;
}
.recentcontacts p{
    text-align: left;
    width: 66%;
    margin: 0px;
}
.recentcontacts span{
    font-size: 8px;
    font-weight: lighter;
}
.recentcontacts h6{
    margin: 0px;
}
.prof2{
    background-color: #008A5C;
}
.chatProfilediv h6{
    margin: 18px;
    text-align: left;
}
.chatProfilediv{
    border-bottom: 1px solid #eeeeee;
    display: flex;
    align-items: center;
    padding: 5PX 12PX;
    gap: 16px
}
.chatProfilediv img{
    border-radius: 50%;
    width: 47px;
    height: 47px;
}
.messageHistory .sender p{
    font-weight: lighter;
    text-align: left;
    font-size: 15px;
    width: max-content;
    margin-left: 100px;
    color: white;
    padding: 8px;
    border-radius: 8px 8px 0px 8px;
    background-color: #026142;
    /*border:1px solid #b7b5b5;
    */
}
.messageHistory .receiver{
    font-weight: lighter;
    text-align: right;
    font-size: 15px;
    width: max-content;
    background-color: #dfdddd;
    padding: 8px;
    border-radius: 8px 8px 8px 0px;
    margin: 0px 8px;
}
.messageHistory .sender{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2px;
}
.sender button{
    background: none;
    border: none;
    margin-right: 3px;
}
.deleteicon{
    font-size: 19px;
}
.profilediv img{
    border-radius: 50%;
    height: 166px;
    width: 166px;
    margin-top: 53px;
    border: 2px solid #e6e6e6;
    padding: 4px;
}
.profiledetailsdiv>*{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:12px;
    font-size: 20px;
}
.profilediv{
    
}
.profiledetailsdiv p{
    font-size: 14px;
}
.profiledetailsdiv{
    padding: 0px 15px;
}
.profilediv h1{
    font-size: 23px;
    font-weight: 400;
    padding: 10px;
}
.recentcontacts{
    overflow-y: scroll;
    height: 565px;
    width: 94%;
    margin: 0px auto;
}
.chatProfilediv p{
    font-size: 17px;
}
.receivermsgdiv img{
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
.receivermsgdiv{
    display: flex;
    margin-left: 8px;
    gap: 4px;
}
.profiledetailsdiv > *{
    color: gray;
}
@media screen and (max-width:500px){
    .chatapp {
        display: block;
        height: auto;
        width: 90%;
    }
    .contactshome,.chatContentdiv,.profilediv {
        width: 100%;
    }
    .searchicon {
        margin: 7px 0px 0px -332px;
    }
}
@media screen and (min-width:700px) and (max-width:850px){
    .profilediv {
        width: 30%;
    }
}